nav {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    gap: 1.5rem;
}
  
.nav__main,
.nav__mode {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    padding: 0.7rem 1.7rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}
  
.nav__main {
    display: flex;
    align-items: center;
}
  
.nav__mode {
    padding: 0.7rem;
    button {
      background: none;
      border: none;
      cursor: pointer;
      outline: none; 
    }
}

.nav__main a, .nav__mode button {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
    transition: var(--transition);
}

.nav__main a:hover, .nav__mode button:hover {
    color: var(--color-white);
    background: rgba(0, 0, 0, 0.3);
    transition: var(--transition);
}

.active {
    background: var(--color-bg);
    color: var(--color-white);
}